*{
  box-sizing: border-box;
  margin: 0;
  font-family: Ubuntu;
}
body{
  background: rgba(0, 0, 0, 0.54) url('/static/images/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: darken;
  background-attachment: fixed;
}
.nabar-custom{
  min-height: 130px;
}
.brandlogo{
  color: #fff;
  font-size: 40px;
}

.landing{
  height: 70vh;
  padding: 15px;
  color: white;
}
.housetitle h1{
  font-size: 8vh;
}

.searchbar{
  width: 400px;
}
.searchbar input[type='text']{
  border-bottom: 5px solid;
  border-radius: 20px;
  height: 50px;
}
.housediv{
  color: white;
  width: 800px;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.86);
}

.featured{
  height: 150px;
}
.review{
  width: 500px;
  padding: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0.604);
  border-radius: 20px;
}
span>.price{
  font-size: 20px;
}
input[type=submit], .reviewbtn{
  color: white;
  border: 2px solid;
  margin-top: 5px;
}
input[type=submit]:hover, .reviewbtn:hover{
  color: black;
  background-color: white;
}
.housedetails{
  background-color: rgba(0, 0, 0, 0.556);
  padding: 15px;
  border-radius: 10px;
}