{% extends 'indexbase.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container-fluid text-white">
    <a class="navbar-brand text-white brandlogo" href="/">HH<sup>2</sup></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse me-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link text-white" aria-current="page" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('main.houselist') }}">House Listing</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('main.about') }}">About Us</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="#">Contact Us</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('main.agentdash')}}">Agent</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('main.index_admin')}}">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container d-flex flex-column justify-content-center landing align-items-center text-center">
  <div class="housetitle mb-4">
    <h1>HOUSE HUNTING</h1>
    <h5>SLOGAN</h5>
  </div>

  <div class="searchbar">
    <form>
      <input type="text" class="form-control mb-2 text-center" id='search' name='search' placeholder='Search Location....'>
      <div class="text-center">
        <input type="submit" value="Search" class="btn btn-lg btn-secondary">
      </div>
    </form>
  </div>
</div>

{% endblock %}
