 <div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> Test Nav </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="lilisting"><a class="nav-item other" href="{{url_for('auth.register')}}">Register</a></li>
                <li><a class="nav-item other" href="{{url_for('auth.login')}}">Sign In</a></li>
                <a class="dropdown-item" href="{{url_for('auth.logout')}}"
                ><i class="fas fa-sign-out-alt"></i>&nbsp; Log out</a
              >
            </ul>
          </div>
    </div>
</div>