{% extends 'base.html' %}

{% block content %}

<div class="houselist mt-md-4 mb-md-4 d-flex flex-column justify-content-center align-items-center">
  <h3 class="text-center">Search Houses for {{ locationname }}</h3>

  <div class="housediv">
    {% if houslisting %}
    {% for item in houselisting %}
    <div class="row featured mt-3">
      <div class="col-md-4">
        <img src="{{url_for('static',filename=item.images)}}" alt="house image" class="img-fluid">
      </div>
      <div class="col-md-8">
        <div class="househead d-flex justify-content-between align-items-center mb-md-5">
          <span>{{item.house_type}} in {{item.location}}, {{item.city}}</span>
          <span class="price">Ksh {{item.price}}</span>
        </div>
        <sub>Ratings <span>4</span> Stars</sub>
        <div class="housefooter d-flex justify-content-between align-items-center mt-3">
          <span>{{ item.dateposted.strftime('%a %b %d, %Y') }}</span>
          <span>Reviews 3</span>
          <a href="{{ url_for('main.house') }}"><button class="btn btn-md reviewbtn">Check House</button></a>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-center text-dark">No House in {{ locationname }}</p>
    {% endif %}
  </div>
</div>

{% endblock %}

